<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evol.provider.mapper.HoursMapper">
  <resultMap id="BaseResultMap" type="com.evol.provider.model.domain.Hours">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="hours" jdbcType="VARCHAR" property="hours" />
    <result column="business_id" jdbcType="VARCHAR" property="businessId" />
  </resultMap>
</mapper>